[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GALAHAD"]
	path = GALAHAD
	url = https://github.com/cran/GALAHAD
[submodule "KWELA"]
	path = KWELA
	url = https://github.com/cran/KWELA
[submodule "PSRICalc"]
	path = PSRICalc
	url = https://github.com/rfeissiv/psricalc
[submodule "PSRICalcSM"]
	path = PSRICalcSM
	url = https://github.com/cran/PSRICalcSM
