[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GALAHAD"]
	path = GALAHAD
	url = https://github.com/cran/GALAHAD
[submodule "PSRICalc"]
	path = PSRICalc
	url = https://github.com/cran/PSRICalc
